# Credenciales y Secretos
credentials.json
.streamlit/secrets.toml
*.json
*.env

# Entornos virtuales
venv/
.venv/
env/

# Archivos de cache de Python
__pycache__/
*.pyc

# Datos locales de la aplicacion (Cache CSV, se regeneran al correr el script)
data/*.csv
!data/.gitkeep
!data/clasificaciones_locales.csv

# Archivos de sistema operativo
.DS_Store
Thumbs.db
